span {
    font-size: 200%;
    display: inline-block;
}

#donut {
    /* transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 1s; */
    transition: all 300ms linear 1s;
}

#donut:hover {
    transform: scale(2);
}

#frog {
    transition: all 300ms linear 0s;
}

#frog:hover {
    transform: rotate(360deg);
}

#taco {
    transition: all 300ms linear 0s;
}

#taco:hover {
    opacity: 0;
}

/* Part 2 */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    /* 25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    } */
    100% {
        transform: rotate(360deg);
    }
}

#flower {
    /* animation-name: spin;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-fill-mode: none; */

    animation: spin 1s 0s infinite normal linear none;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

#ball {
    animation: bounce 1s 0s infinite normal ease-out none;
}

@keyframes lick {
    0% {
        transform: translateY(0px) scale(1);
    }
    50% {
        transform: translateY(0) scale(1.5);
        opacity: 1;
    }
    75% {
        transform: translateY(-20px) scale(1.5);
    }
    100% {
        transform: translateY(0px) scale(1);
        opacity: 0;
    }
}

#tongue {
    animation: lick 1s 0s infinite normal ease-out none;
}